.btn {
  display: inline-block;
  padding: 6px 20px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 25px;
}

.btn-lg {
  padding: 12px 40px;
  font-size: 15px;
  line-height: 1.3333333;
  border-width: 2px;
  border-radius: 30px;
}

.btn-primary-outline {
  color: $red;
  background-color: transparent;
  border-color: $red;
}
