// PAGINATION
//

.pagination {
  padding: 0;
  margin: 0 0 modular-scale(0);
  list-style: none;
}
.pagination li {
  display: inline-block;
  margin-right: 3px;
}
.pagination a,
.pagination span {
  display: block;
  padding: 5px 12px;
  text-decoration: none;
  border: 1px solid $iron;
  border-radius: 2px;
}

.pagination li.disabled a,
.pagination li.disabled span {
  background-color: $default;
}

.pagination li.active a,
.pagination li.active span {
  color: $white;
  background-color: $danger;
  border: 1px solid $danger;
}
