// Progress
//

.progress {
  display: block;
  width: 100%;
  background-color: $pale;
  border-radius: 10px;
}

.progress__bar {
  width: inherit;
  height: 10px;
  background-color: $pale;
  border-radius: inherit;

  &--success { background-color: $green; }
  &--danger { background-color: $danger; }
}
