// NAVS
//

.nav {
  padding: 0;
  list-style: none;
  border-left: 1px solid $default;
}

.nav__item {
  margin-left: -1px;
  border-left: 1px solid transparent;

  &:hover {
    border-left: 1px solid $grey;
  }

  &--active {
    font-weight: bold;
    color: $red;
    border-color: $red;

    &:hover {
      border-left: 1px solid $red;
    }
  }

  &--fill .nav__link {
    background-color: $default;
    border-radius: 3px;
  }
}

.nav__link {
  display: block;
  padding: 3px 10px;
  margin-left: 10px;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $red;
  }
}
