footer{
	text-align: center;
	padding: 60px 0 40px;

	& a,
	& li {
		font-size: 13px;
		color: #000;
	}

	@media only screen and (min-width : 768px){
		& {
			text-align: left;
		}
	}
}

.footer-seal{
	margin-bottom: 10px;
}
